@charset "utf-8";
/* CSS Document */
html {overflow-y: scroll;}
@font-face          /* the creative-commons logos are done using embedded fonts */
                {font-family: "CC Icons";
                 src: url("fonts/cc-icons.svgz#cc") format("svg"),
                      url("fonts/cc-icons.ttf")     format("truetype");}
/*change highlight color*/
::-moz-selection        {background-color: #FFCC33; color: #eee; text-shadow: none;}
::selection             {background-color: #FFCC33; color: #eee; text-shadow: none;}

body
{
	background-image:url(images/bgTilable.jpg);
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	height:100%;
}

 .style1 
{
  font-family: Arial, Helvetica, sans-serif;
}
.style2
{
  color: #666666;
}
.style4
{
  color: #993399;
}

    a:link
    {
    	color: #999999;
    	text-decoration: none;
    }
    a:visited
    {
    	text-decoration: none;
    	color: #999999;
    }
    a:hover
    {
    	text-decoration: underline;
    	color: #333333;
    }
    a:active
    {
    	text-decoration: none;
    	color: #333333;
    }

    h1, h2, h3, h4, h5, h6 
    {
    	font-family: Arial, Helvetica, sans-serif;
    }
#chrisbarr
{
	height:40px;
	padding-top:15px; 
	padding-bottom:19px;
	padding-right:0px;
	float:right;
	color:grey;
}
#images 
{
	padding-top:6px;
	padding-left:2px;
	
}

#navBar
{
	width:450px;
	float: left;
	padding-right: 0px;
	padding-left:60px;
}
#header
{
	height:130px;
	background-color:#FFFFFF;
	margin:0px;
	padding:0px;
}

ul#menu 
{
	padding: 0;
}

ul#menu li
{
	color:#999999;
	style="list-style-type:none;
	width:4500px;
	display:inline;
	padding-left:30px;
}
ul#menu li a:hover
{
	color:#333333;
}

#colorbar
{
	position:absolute;
	left:0px;
	top:74px;
	background-image:url(images/colorband.png);
	width:100%;
	height:5px;
	margin: 0px;
	padding: 0px;
}	

.wrapper
{
	margin-left: auto;
	margin-right: auto;
	position:inherit;
	z-index: 100;
	width: 800px;
}
#fullwrapper
{
	min-height:100%;
	position:relative;
}
#footer
{
	text-align: center;;
	background-color: white;
	padding-top: 25px;
	width:100%;
	height:100px;
	bottom:0;
	left:0;
	color: grey;
	
}
#main
{
	height:100%;
}

